<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="../../bower_components/iron-pages/iron-pages.html"> -->

<dom-module id="precio-divisa">
  <template>
    <head>
    	<!-- Etiquetas meta requeridas -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Hoja de estilo Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>

      <table class="table table-borderless" border="0">
        <thead>
          <tr>
            <th scope="col">Cruce</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
        <template is="dom-repeat" items="{{precio}}">
          <tr>
            <th scope="row">{{item.symbol}}</th>
            <td>{{item.price}}</td>
          </tr>
        </template>
        </tbody>
      </table>

    <iron-ajax auto
      id="getCurrencies"
      url="http://localhost:3000/apitechu/currencies/EURUSD,EURGBP,EURJPY,EURCHF"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PrecioDivisa extends Polymer.Element {
      static get is() { return 'precio-divisa'; }
      static get properties() {
        return {
          precio: {
            type: Array
          }
        };
      }

      showData(data){
        // console.log(data.detail.response);

        this.precio = data.detail.response;
      }
    }


    window.customElements.define(PrecioDivisa.is, PrecioDivisa);
  </script>
</dom-module>
