<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">&nbsp;</li>
        </ol>
      </nav>
      <div class="p-3 mb-2 bg-secondary text-white"><h2>mAObank &copy;</h2></div>

      <h6 class="text-secondary">Introduce tu email y clave de acceso</h6>
      <form>
        <div class="form-group col-md-20">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email *" value="{{email::input}}" required>
        </div>
        <div class="form-group col-md-20">
          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña *" value="{{password::input}}" required>
        </div>
        <button type="button" on-click="login" class="btn btn-info">Aceptar</button>
        <button type="button" on-click="cancel" class="btn btn-info">Cancelar</button>
        <button type="button" on-click="signup" class="btn btn-outline-danger">Hazte cliente</button>
      </form>
      <p>&nbsp;</p>
      <p><span hidden$="{{init}}"><span hidden$="{{isLogged}}" class="text-success">Email o Contraseña incorrecto</span></span></p>
    </body>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          isLogged: {
            value: false,
            type: Boolean
          },
          init: {
            value: true,
            type: Boolean
          }
        };
      }

      login() {
        if ((this.email) && (this.password)){
          var loginData = {
            "email" : this.email,
            "password" : this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
        } else {
          alert("Por favor, informe los campos obligatorios");
        }
      }

      signup(){
        window.location = "/signup/";
      }

      cancel(){
        window.location = "/";
      }

      manageAJAXResponse(data) {
        // console.log("Llegaron los resultados a la API");
        // console.log(data.detail.response);
        this.isLogged = true;
        this.init = false;

        window.location = "/user/" + data.detail.response.idUsuario;
      }

      showError(error) {
        // console.log("Ha habido un error");
        console.log(error);
        this.isLogged = false;
        this.init = false;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
