<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="create-usuario">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">&nbsp;</li>
        </ol>
      </nav>
      <div class="p-3 mb-2 bg-secondary text-white"><h2>mAObank &copy;</h2></div>

      <h6 class="text-secondary">Introduce los siguientes campos</h6>
      <form>
        <div class="form-group col-md-20">
          <input type="email" class="form-control" maxlength="40" id="inputEmail" placeholder="Email *" value="{{email::input}}" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" maxlength="20" id="inputFirstName" placeholder="Nombre *" value="{{first_name::input}}" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" maxlength="40" id="inputLastName" placeholder="Apellidos *" value="{{last_name::input}}" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="password" class="form-control" maxlength="10" id="inputPassword" placeholder="Contraseña *" value="{{pwd::input}}" required>
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" maxlength="10" id="inputPassword2" placeholder="Repita la contraseña *" value="{{pwd2::input}}" required>
          </div>
        </div>
        <div class="form-group col-md-20">
          <input type="text" class="form-control" maxlength="100" id="inputAddress" placeholder="Dirección" value="{{address::input}}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" maxlength="15" id="inputCity" placeholder="Ciudad" value="{{city::input}}">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" maxlength="15" id="inputState" placeholder="País" value="{{state::input}}">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" maxlength="7" id="inputZip" placeholder="Código postal" value="{{zip::input}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" maxlength="15" id="inputPhone" placeholder="Teléfono fijo" value="{{phone::input}}">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" maxlength="15" id="inputMovilePhone" placeholder="Teléfono móvil" value="{{movilePhone::input}}">
          </div>
        </div>
        <button type="button" on-click="create" class="btn btn-info">Aceptar</button>
        <button type="button" on-click="back" class="btn btn-info">Cancelar</button>
        <button type="button" on-click="login" class="btn btn-outline-danger">Login</button>
      </form>
      <p><span class="text-success">{{message::input}}</span></p>

    </body>

    <iron-ajax
      id="doCreate"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateUsuario extends Polymer.Element {
      static get is() { return 'create-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          pwd: {
            type: String
          },
          pwd2: {
            type: String
          },
          address: {
            type: String
          },
          city: {
            type: String
          },
          state: {
            type: String
          },
          zip: {
            type: String
          },
          phone: {
            type: String
          },
          movilePhone: {
            type: String
          },
          message: {
            type: String,
            value: ""
          }
        };
      }

      create() {
        if ((this.email) && (this.first_name) && (this.last_name) && (this.pwd) && (this.pwd2)){
          if (this.pwd != this.pwd2){
            alert("Las contraseñas informadas son diferentes");
          } else {
            var createData = {
              "email" : this.email,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "pwd" : this.pwd,
              "address" : this.address,
              "city" : this.city,
              "state" : this.state,
              "zip" : this.zip,
              "phone" : this.phone,
              "movilePhone" : this.movilePhone
            };

            this.$.doCreate.body = JSON.stringify(createData);
            this.$.doCreate.generateRequest();
          }
        } else {
          alert("Por favor, informe los campos obligatorios");
        }
      }

      back(){
        window.location = "/";
      }

      login(){
        window.location = "/login/";
      }

      manageAJAXResponse(data) {
        // console.log("Llegaron los resultados a la API");
        // console.log(data.detail.response);
        this.message = data.detail.response.msg;
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
      }
    }

    window.customElements.define(CreateUsuario.is, CreateUsuario);
  </script>
</dom-module>
