<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-cuenta">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body class="text-center">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
          <div class="form-group col-md-6">
            <h5 class="text-dark"><span class="badge badge-light">ALTA DE CUENTA CORRIENTE</span></h5>
            <h6 class="text-secondary">Introduce los siguientes campos</h6>
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-1">
                <label class="text-secondary">Alias</label>
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" maxlength="50" id="inputAlias" placeholder="" value="{{alias::input}}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-1">
                <label class="text-secondary">Divisa *</label>
              </div>
              <div class="form-group col-md-2">
                  <select class="form-control" id="inputDivisa" value="{{divisa::input}}">
                    <option>Seleccionar</option>
                    <option value="EUR">Euro</option>
                    <option value="USD">Dolar</option>
                    <option value="JPY">Yen</option>
                    <option value="CHF">Franco suizo</option>
                  </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <button type="button" on-click="create" class="btn btn-info">Aceptar</button>
            </div>
          </form>
          <p><span class="text-success">{{message::input}}</span></p>
      </div>
    </body>

    <iron-ajax
      id="doCreate"
      url="http://localhost:3000/apitechu/accounts/{{id}}"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearCuenta extends Polymer.Element {
      static get is() { return 'crear-cuenta'; }
      static get properties() {
        return {
          alias: {
            type: String
          },
          divisa: {
            type: String
          },
          message: {
            value: "",
            type: String
          }
        };
      }

      create() {
        console.log("crear-cuenta: El usuario ha pulsado el botón crear");

        if (this.divisa){
          var createData = {
            "alias" : this.alias,
            "divisa" : this.divisa
          };

          console.log(createData);
          this.$.doCreate.body = JSON.stringify(createData);
          this.$.doCreate.generateRequest();
        } else {
          alert("Por favor, informe los campos obligatorios");
        }
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados a la API");
        console.log(data.detail.response);
        this.message = data.detail.response.msg;

        window.location = "/user/" + data.detail.response.userId;
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        // this.isLogged = false;
        // this.init = false;
      }
    }

    window.customElements.define(CrearCuenta.is, CrearCuenta);
  </script>
</dom-module>
