<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../crear-operacion/crear-operacion.html">
<link rel="import" href="../operaciones-cuenta/operaciones-cuenta.html">
<link rel="import" href="../precio-divisa/precio-divisa.html">

<dom-module id="cuenta-usuario">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body class="text-center">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="form-row">
          <div class="form-group col-md-9">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Alias</th>
                  <th scope="col">IBAN</th>
                  <th scope="col">Saldo</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{accounts}}">
                  <tr>
                    <th scope="row">{{item.alias}}</th>
                    <td>{{item.IBAN}}</td>
                    <td>{{item.balance}} {{item.divisa}}</td>
                    <td>
                      <select value="{{pageName::change}}" class="form-control">
                        <option value="">Opciones...</option>
                        <option value="operaciones-cuenta{{item._id.$oid}}">Consultar operaciones</option>
                        <option value="crear-operacion{{item._id.$oid}}">Crear operación</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <iron-pages selected="[[pageName]]" attr-for-selected="component-name">
                        <div component-name="crear-operacion{{item._id.$oid}}"><crear-operacion id="{{item._id.$oid}}"></crear-operacion></div>
                        <div component-name="operaciones-cuenta{{item._id.$oid}}"><operaciones-cuenta id="{{item._id.$oid}}"></operaciones-cuenta></div>
                      </iron-pages>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
          <div class="form-group col-md-1">
            <table border="0" width="100%" valing="top">
              <tr>
                <td align="right" valign="top">
                  <a href="/currencies/" target="iframe_a" class="text-info">Consultar tipos de cambio</a>
                </td>
              </tr>
              <tr>
                <td valign="top" align="right">
                  <iframe src="" name="iframe_a" frameBorder="0"></iframe>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </body>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentaUsuario extends Polymer.Element {
      static get is() { return 'cuenta-usuario'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          accounts: {
            type: Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.accounts = data.detail.response;
      }

      mostrarDivisa(evt) {
        console.log(evt);
        window.target = "iframe_a";
        window.location = "/user/";

      }
    }

    window.customElements.define(CuentaUsuario.is, CuentaUsuario);
  </script>
</dom-module>
