<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-operacion">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>

    <body class="text-center">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="form-group col-md-6">
          <h5 class="text-dark"><span class="badge badge-light">ALTA DE OPERACIÓN</span></h5>
          <h6 class="text-secondary">Introduce los siguientes campos</h6>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label class="text-secondary">Descripción *</label>
            </div>
            <div class="form-group col-md-4">
              <input type="text" id="inputDescripcion" class="form-control" maxlength="30" value="{{descripcion::input}}" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label class="text-secondary">Importe *</label>
            </div>
            <div class="form-group col-md-2">
              <input type="text" id="inputImporte" class="form-control" maxlength="12" value="{{importe::input}}" required>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" id="inputTipo" value="{{tipo::input}}">
                  <option>Seleccionar</option>
                  <option value="abono">Abono</option>
                  <option value="cargo">Cargo</option>
                </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <button type="button" on-click="create" class="btn btn-info">Aceptar</button>
          </div>
        </form>
        <p><span class="text-success">{{message::input}}</span></p>
      </div>
    </body>

    <iron-ajax
      id="doCreate"
      url="http://localhost:3000/apitechu/accounts/{{id}}/transactions"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearOperacion extends Polymer.Element {
      static get is() { return 'crear-operacion'; }
      static get properties() {
        return {
          descripcion: {
            type: String
          },
          tipo: {
            type: String
          },
          importe: {
            type: Number
          },
          message: {
            value: "",
            type: String
          }
        };
      }

      create() {
        // console.log("crear-operacion: El usuario ha pulsado el botón create");

        if ((this.descripcion) && (this.tipo) && (this.importe)){
          if (this.importe > 0){
            var amount = 1;
            if (this.tipo == "cargo"){
              amount = amount * -1;
            }

            var createData = {
              "description" : this.descripcion,
              "amount" : parseInt(this.importe) * amount
            };

            // console.log(createData);
            this.$.doCreate.body = JSON.stringify(createData);
            this.$.doCreate.generateRequest();
          } else {
            alert("Importe debe ser mayor que 0");
          }
        } else {
          alert("Por favor, informe los campos obligatorios");
        }
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados a la API");
        console.log(data.detail.response);
        this.message = data.detail.response.msg;

        window.location = "/user/" + data.detail.response.userId;
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
      }
    }

    window.customElements.define(CrearOperacion.is, CrearOperacion);
  </script>
</dom-module>
