<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../cuenta-usuario/cuenta-usuario.html">
<link rel="import" href="../crear-cuenta/crear-cuenta.html">
<!-- <link rel="import" href="bower_components/polymer/polymer.html"> -->


<dom-module id="visor-usuario">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
      <table border="0" valign="top" width="1280">
        <tr>
          <td width="21%">&nbsp;</td>
          <td width="21%">&nbsp;</td>
          <td width="21%">&nbsp;</td>
          <td width="21%">&nbsp;</td>
          <td width="6%">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="5">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">&nbsp;</li>
              </ol>
            </nav>
            <div class="p-3 mb-2 bg-secondary text-white"><h2>mAObank &copy;</h2></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="text-danger"><span class="text-secondary">Gestionar</span> meGaCuentas &copy;</h4>
          </td>
          <td colspan="2" >
            <div class="form-group col-md-4">
              <select value="{{pageName::change}}" class="form-control">
                <option value="">Opciones...</option>
                <option value="cuenta-usuario">Consultar cuentas</option>
                <option value="crear-cuenta">Crear cuenta</option>
              </select>
            </div>
          </td>
          <td align="right" valign="middle">
            <h6><span class="text-secondary">¡Hola [[first_name]] [[last_name]]!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h6>
          </td>
          <td>
            <button on-click="logout" type="button" class="btn btn-info">Salir</button>
          </td>
        </tr>
      </table>
    </body>

    <iron-pages selected="[[pageName]]" attr-for-selected="component-name">
      <div component-name="cuenta-usuario"><cuenta-usuario id={{id}}></cuenta-usuario></div>
      <div component-name="crear-cuenta"><crear-cuenta id={{id}}></crear-cuenta></div>
    </iron-pages>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    />
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        // console.log("showData");
        // console.log(data.detail.response);

        this.id = data.detail.response._id.$oid;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }

      logout() {
        var logoutData = {
          "id" : this.id
        };

        console.log(logoutData);
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados del logout");
        console.log(data.detail.response);
        // this.isLogged = false;

        window.location = "/";
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        // this.isLogged = false;
        // this.init = false;
      }


    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
