<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="home-app">
  <template>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css">
    </head>

    <body>
      <table>
        <tr>
          <td>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">&nbsp;</li>
              </ol>
            </nav>
            <div class="p-3 mb-2 bg-secondary text-white" width="100%"><h2>mAObank &copy;</h2></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="text-secondary">Somos tu banco especializado en soluciones de ahorro hechas a medida para ti,
          a través de productos básicos y sencillos para la gestión diaria de tu dinero. Un banco en el que todos estamos en el mismo bando,
          que te acompaña en lo cotidiano y se adapta a tu ritmo. Un banco que te ayuda
          a redescubrir lo que puedes hacer con tu dinero para sacarle más partido.
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-danger"><h3 class="text-danger">Tenemos una cuenta corriente para ti muuuuuuuuy interesante. Hazte cliente y empieza a disfrutarla</h3></p>
          </td>
        </tr>
        <tr>
          <td>
            <form>
              <button type="button" class="btn btn-info btn-lg" on-click="login">Soy cliente</button>
              <button type="button" class="btn btn-danger btn-lg" on-click="signup">Hazte cliente</button>
            </form>
          </td>
        </tr>
      </table>
    </body>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomeApp extends Polymer.Element {
      static get is() { return 'home-app'; }
      static get properties() {
        return {
        };
      }

      login() {
        window.location = "login/";
      }

      signup(){
        window.location = "signup/";
      }

    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
