<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="operaciones-cuenta">
  <template>
    <head>
    	<!-- Etiquetas meta requeridas -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Hoja de estilo Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Concepto</th>
              <th scope="col">Importe</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{transactions}}">
              <tr>
                <td>{{item.date}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount}}</td>
              </tr>
            </template>
          </tbody>
        </table>
    </body>

    <iron-ajax auto
      id="getTransactions"
      url="http://localhost:3000/apitechu/accounts/{{id}}/transactions"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperacionesCuenta extends Polymer.Element {
      static get is() { return 'operaciones-cuenta'; }
      static get properties() {
        return {
          transactions: {
            type: Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.transactions = data.detail.response;
      }
    }


    window.customElements.define(OperacionesCuenta.is, OperacionesCuenta);
  </script>
</dom-module>
